:root {
    --white: #fff;
    --half-white: #d7ccc0;
    --light: #f5f4f0;
    --main-color: #fe8a02;
    --main-color-dark: #42413c;
    --dark: #2a2626;
    --half-dark: #908d8b;
    --blue: #1085c5; 
}
* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
p {
    margin-block-start:0; 
    margin-block-end:0;
}
.container {
    max-width: 1110px;
    text-align: center;
    margin: 100px auto;
    /* padding: 100px 0px; */
}
.header-top {
    position: relative;
}
.h1 {
    margin: 0;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
}
.h2 {
    margin: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
}
.h3 {
    margin: 0;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
}
.background {

}
.header {
    overflow: hidden;
}
.background:before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
.header:before {
    background-color: rgba(245, 244, 240, 1);
    background-image: url("../images/background.png");
    height: 125%;
    opacity: 0.1;
}
.h1-left {
    text-align: left;
}
.h-main-color {
    color: var(--main-color);
    
}
.h-black {
    color: var(--dark);
}
.h-lh-1em {
    line-height: 1em;
}
.header-img {
    position: absolute;
    z-index: -1;
    top: -45px;
    right: -270px;
    height: 525px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    margin-top: 185px;
}
.text {
    width: 540px;
    text-align: left;
}
.text-font {
    color: var(--dark);
}
.header-button {
    display: block;
    margin-top: 40px;
    margin-left: 570px;
    width: 150px;
    font-weight: 700;
    padding: 12px 24px;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--main-color);
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.video-section {
    background-color: var(--white);
}
.video-text {
    margin-top: 27px;
    margin-bottom: 30px;
}
.video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
.navigation-section {
    margin-top: -200px;
    padding: 100px 0;
    background-color: var(--main-color-dark);
}
.navigation-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navigation-item {
    width: 350px;
}
.fz-52 {
    font-size: 52px;
}
.h-white {
    color: var(--white);
}
.mb-20 {
    margin-bottom: 20px;
}
.navigation-item {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--light);
}
.p-0 {
    padding: 0;
}
.navigation-item-link {
    text-decoration: none;
    outline: none;
}
.bg-dark {
    background-color: var(--main-color-dark);
}
.navigation-item-number {
    padding-bottom: 40px;
    font-size: 64px;
    line-height: 1.1em;
    font-family: 'Neucha', cursive;
    color: var(--main-color-dark);
}
.navigation-item-text {
    padding-top: 16px;
    padding-bottom: 24px;
    color: var(--dark);
}