/** BASIS **/
* {
    box-sizing: border-box;
}
body {
    margin: 0;

    font-size: 16px;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;

    color: var(--white);
}
p {
    margin-block-start:0; 
    margin-block-end:0;
}
h1 {
    margin-block-start:0; 
    margin-block-end:0;
}
h2 {
    margin-block-start:0; 
    margin-block-end:0;
}
h3 {
    margin-block-start:0; 
    margin-block-end:0;
}
a {
    text-decoration: none;
    outline: none;
}
hr {
    height: 16px;
    visibility:hidden;
    margin: 0;
}
.container {
    position: relative;

    max-width: 1110px;
    margin: 0 auto;
    padding: 100px 0;

    text-align: center;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block-halves {
    flex-grow: 1;

    width: calc(50% - 20px);
}
.text-align-left {
    text-align: left;
}
.z-index-100 {
    z-index: 100;
}
.z-index-200 {
    z-index: 200;
}
.d-block {
    display: block;
}

/** MARGINS and PADDINGS **/
.mb-27 {
    margin-bottom: 27px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-200 {
    margin-top: 200px;
}
.mb-400 {
    margin-bottom: 400px;
}
.ml-570 {
    margin-left: 570px;
}
.pl-15 {
    padding-left: 15px;
}
.p-24 {
    padding: 24px 24px 0px 24px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pt-200pb-100 {
    padding: 200px 0px 100px;
}
/** TITLES **/
.h1 {
    font-weight: 400;
    font-size: 72px;
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
    padding-top: 7px;
}
.h2 {
    font-weight: 400;
    font-size: 60px;
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
}
.h3 {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2em;
    font-family: 'Neucha', cursive;
}

/** FONTS **/
.fz-52 {
    font-size: 52px;
}
.lh-1em {
    line-height: 1em;
}
/** COLORS **/
:root {
    --white: #fff;
    --half-white: #d7ccc0;
    --light: #f5f4f0;
    --main-color: #fe8a02;
    --main-color-dark: #42413c;
    --dark: #2a2626;
    --half-dark: #908d8b;
    --blue: #1085c5; 
}

/** fonts colors**/
.main-color {
    color: var(--main-color);
}
.dark-color {
    color: var(--dark);
}
.white-color {
    color: var(--white);
}
.main-dark-color {
    color: var(--main-color-dark);
}
/**background colors**/
.background-light {
    background-color: var(--light);
}

.background-main-color {
    background-color: var(--main-color);
}
.background-white {
    background-color: var(--white);
}
.background-main-color-dark {
    background-color: var(--main-color-dark);
}
/** BACKGROUNDS **/
.background {
    position: relative;
    overflow: hidden;
}
.background:before {
    content: "";

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.1;
}

/** HEADER **/
.header-img {
    position: absolute;

    top: 55px;
    right: -270px;

    height: 525px;
}
.header-button {
    width: 150px;

    font-weight: 700;
    padding: 12px 24px;
    text-transform: uppercase;
    

    cursor: pointer;
}

/** VIDEO **/
.video {
    position: absolute;
    top: 329px;
    left: 95.5px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/** NAV **/
.mb-20 {
    margin-bottom: 20px;
}
.navigation-item {
    /* width: 350px; */
    width: calc((100% - 60px) /3);
}

.navigation-item-link {
    text-decoration: none;
    outline: none;
}
.bg-dark {
    background-color: var(--main-color-dark);
}
.navigation-item-number {
    font-size: 64px;
    line-height: 70.5px;
    font-family: 'Neucha', cursive;
}
.navigation-item-title {
    padding-bottom: 16px;
}
.navigation-item-text {
    padding-bottom: 24px;
}